@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 8rem 18rem;
}

main h1 {
    font-weight: 200;
    margin: 0;
}

main h2 {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

main>p {
    max-width: 35rem;
    margin-inline: auto;
}

main .card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3rem;
    text-align: left;
    margin: 0 auto;
    margin-top: 5rem;
    justify-items: center;
}

main .card .card-items {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 3px 5px 10px rgb(105, 112, 119);
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    box-sizing: border-box;
    width: 25rem;
}

main .card .card-items > h3,
main .card .card-items > p {
    margin: 0.3rem;
}

main .card .card-items > img {
    width: 3rem;
    margin-top: 2rem;
    justify-self: end;
    align-self: flex-end;
}

main .card .card-items:nth-child(1) {
    border-top: solid rgb(69, 211, 211);
    grid-column: 1;
    grid-row: 2;
    transform: translateY(-60%);
}

main .card .card-items:nth-child(2) {
    border-top: solid rgb(234, 83, 83);
    grid-column: 2;
    grid-row: 1;
}

main .card .card-items:nth-child(3) {
    border-top: solid rgb(252, 175, 74);
    grid-column: 2;
    grid-row: 2;
}

main .card .card-items:nth-child(4) {
    border-top: solid rgb(84, 158, 242);
    grid-column: 3;
    grid-row: 2;
    transform: translateY(-60%);
}

@media (max-width: 425px) {
    body {
        margin: 5rem 2rem;
    }

    main > p {font-size: 1.3rem;}
    main .card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
        justify-items: center;
    }
    main .card .card-items:nth-child(1) {
        grid-column: 1;
        grid-row: 1;
        transform: translateY(0%);
    }

    main .card .card-items:nth-child(2) {
        grid-column: 1;
        grid-row: 2;
    }

    main .card .card-items:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

    main .card .card-items:nth-child(4) {
        grid-column: 1;
        grid-row: 4;
        transform: translateY(0%);
    }
}